
/* changing default settings*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-color:#EEEB66;
    margin: 0 auto;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}







/* my code*/





.main{
margin:0 auto;
width:1000px;

}
a{
text-decoration:none;
}
body{
//background-image: url(images/cars/car.jpg);
//background-image: url(images/back.jpg);
color: darkturquoise;
background-color: #111;
background-repeat: no-repeat;
opacity: 0.9;  


}
 header nav{
 width:100%;
 height:60px;
 background-color:#fff;
 }
 
 header nav ul{
	float:left;
 }
 
 header nav ul li{
	float:left;
	list-style:none;
 }

 header nav ul li a{
	font-family:Lucida Calligraphy;
	font-size:14px;
	color:rgb(146,208,80);
	line-height:63px;
 }
 header nav ul li a:hover
 {
	color:rgb(100,204,105);
 }
 header .nav-login {
 float:right;}
 
  header .nav-login  form{
 float:left;
 padding-top:15px;}
 
 header .nav-login form input{
 float:left;
 width:140px;
 height:30px;
 padding:0px 11px;
 margin-right:10px;
 border:none;
 background-color:#cccc;
 	font-family:arial;
	font-size:16px;
	color:#112;
	line-height:30px;
	
	
 }
   header .nav-login form button{
 float:left;
 width:60px;
 height:30px;
 margin-right:10px;
 background-color:#f4f4f4;
 border:none;
 	font-family:arial;
	font-size:16px;
	color:#111;
	cursor:pointer;
 }
 header .nav-login form button:hover{
 background-color:#ccc;
 }
 header .nav-login a{
	display:block;
	width:60px;
	height:60px;
	border:none;
	float:left;
	background-color:#ffff;
	font-family:arial;
	font-size:16px;
	color:#112;
	line-height:60px;
	cursor:pointer;
 }
 
.section-main{
padding-top:40px;
margin: 0 auto;
width:100%;

}

.sec-div h1{
	width:1000px;
	margin-left:400px;
	font-family:Lucida Calligraphy;
	font-size:40px;
	color:#112;
	line-height:50px;

}

 /*for registration*/
.nav-register
 {
	
	width:500px;
	margin:0 auto;
	padding-top:30px;
 }
 .nav-register h2
 {
	margin:0px auto;
	font-family:vardana;
	font-size:30px;
	color:#133;
	line-height:50px;
	text-decoration:activeborder;
 }
 
 .nav-register input
 {
 width:90%;
 height:20px;
 padding:0px 5%;
 border:none;
 background-color:#fff;
 	font-family:arial;
	font-size:14px;
	color:#111;
	line-height:100px;
 }
 
 .make_zero_radio input{
 padding:0px;
 width:5%;
 height:10px;
 border:none;
 background-color:#fff;
 	font-family:arial;

	color:#111;
 }
 
  .nav-register select
 {
 width:90%;
 height:20px;
 padding:0px 5%;
 border:none;
 background-color:#fff;
 	font-family:arial;
	font-size:14px;
	color:#111;
	line-height:100px;
 }
 
  .nav-register button
 {
 display:block;
 margin:0 auto;
 width:30%;
 height:40px;
 padding:0px 5%;
 border:none;
 background-color:red;
 font-family:arial;
font-size:14px;
color:white;
cursor:pointer;
 }
 
   .nav-register button:hover
 {
	background-color:#111;
	}
 /*usertype form*/
 
.nav-middle
 {
	width:500px;
	margin:0 auto;
	padding-top:30px;
 }
/*cars showing*/

.display{
    padding: 0px;
    margin:auto;
    height:550px;
    margin-left:-30px;
    width: 900px;
}

section .main_box
{
width:900px;
margin:0 auto;
padding:30px;
//background-image: url(images/cars/car.jpg);
background-image: url(images/display/back.jpg);
opacity: 0.9px;
color: #133;
background-color:whitesmoke;
}
section .photo{
width:150px;
height:110px;
margin: 25px 10px; 
border-radius: 10px;
font-family:Algerian;
background-color: red;
text-align:center;
background-image: url(images/display/design.jpg);
float:right;
padding:10px;
color:white;
}
section .photo h2{
    color: burlywood;
}
section .photo h2:hover{
    color: #EEEB66;
}
section .photo a{
    color:gold;
    font-family: Matura MT Script Capitals;
    font-size: 18px;
}
section .photo a:hover{
    color: #4CAF50;
    font-family: Rockwell Condensed;
    font-size: 20px;
}


/* for car tables */
section .main{
    width: 850px;
    height: 400px;
    margin: 0 auto;
    background-color: whitesmoke;
    
}
section .car_name{
    width:830px;
    height:18px;
    background: antiquewhite;
    color: tomato;
    font-size: 20px;
    font-family: Rockwell Extra Bold;
    padding:10px;
    text-align: center;
}
section .car_image{
    width:500px;
    height: 300px;
    padding-top: 10px;
    padding-left: 10px;

}
section .car_desc{
    width: 300px;
    margin-top:-300px;
    float: right;
    margin-right: 10px;
    padding:12px;
    height: 320px;

}
section .rating{
    width: 490px;
    height: 25px;
    color: maroon;
    font-family: Elephant;
        
    padding: 10px;
    float:left;

}
#des{
    font-family: Wide Latin;
    color: darkblue;
    font-size: 16px;
}
#no{
    font-family: Matura MT Script Capitals;
    color: mediumvioletred;
}
#des p{
    font-family: Imprint MT Shadow;
    color: #133;
    font-size: 15px;
}
/* navigation */
.indexes{

margin:auto;
text-align:center;
height:40px;
float:none;
}

.indexes ul li
{
list-style:none;
float: left;
margin:10px 0.5% ;
}

.indexes ul li a
{
text-decoration:none;
color: #EEEB66;
margin:auto;
font-family:algerian;
font-size:16px;
}
.indexes ul li a:hover
{
padding:10px;
color: activecaption;

}

.index{
    background-image:url("images/display/back.jpg");
margin:0 auto;

}
  
/* Sliding images in index page */

.section-main{
width:900px;
margin:0 auto;
padding:30px;
background-image:url("images/display/car_two.jpg");

}
#slide img{float:left;}
.bizz{
background-image:url("images/display/bmw.jpg");
width:100%;
margin: 0 auto;
height:500px;
overflow:hidden;
border:3px solid white;
border-radius:5px;
background-repeat:no-repeat;}
#slide{
    position:relative;
	width:500%;
	height:500px;
	animation-name: floating;
	animation-duration:10s;
        animation-play-state: running;
	animation-iteration-count: infinite;
        animation-direction: alternate;
	margin-top:0px;
}
@keyframes floating
{
	0%{left:0px;}
	15%{left:0px;}
	25%{left:-100%;}
	30%{left:-100%;}
	40%{left:-200%;}
	45%{left:-200%;}
	55%{left:-300%;}
	60%{left:-300%;}
	70%{left:-400%;}
	75%{left:-400%;}
	85%{left:-500%;}
	90%{left:-500%;}
	100%{left:-500%;}
	
}
._image{
    width: 900px;
    height:500px;
}
.car_insert{  
background-image: url(images/display/car.jpg);

    padding:10px;  
    border:1px solid pink;  
    border-radius:10px;
    color: saddlebrown;
    margin-top:10px;  
}
.sub{  
background-color:blue;  
padding: 5px 20px 5px 20px;  
color:red;  
font-weight:bold;    
border-radius:5px; 
cursor: pointer;
} 
.car_insert form label{
  font-family: cursive;
    font-size: 16px;
    color:coral;
}
.cars_{  
    padding:10px;  
    color:darkorange;
    border-radius:10px;  
    margin-top:10px;  
    font-family: monospace;
    font-size: 20px;
      
}  
#admin_board{
    font-family: initial;
    font-size: 30px;
    text-align: center;
    color: seagreen;
}
#general{
     font-family: Script MT Bold;
    font-size: 30px;
    text-align: center;
    color: seagreen;
}
#general:hover{
    background-color: #EEEB66;
}
/*footer */

.copyrights,rag{
    font-variant: common-ligatures;
    font-family: serif;
    text-align: center;
}
.connecting{
    margin-left: 50px;

    
}
/* For editing user info from admin panel */
.user_edit{
    
}
.tab{
    width: 90%;
    height: 500px;
    border-collapse: collapse;
    text-align: left;
 border-color: antiquewhite;
 overflow-y: auto;
 border: 1px solid black;
    color: darkcyan; 
    padding:20px;
}

.tab1{
    width: 90%;
    height: 100px;
    
    text-align: left;
 border-color: antiquewhite;
 border: 1px solid black;
    color: darkcyan; 
    padding:20px;
}
.tab tr{
    border-bottom: 1px solid #133;
}
.tab th,td{
    border: #EEEB66;
    height: 20px;
    padding:5px;
}
.tab tr.hover{
    background: antiquewhite;
}

thead{
    background: #ffff;
}
thead{
    background: #ffff;
}
.input-group{
    margin: 10px 0px 10px 0px;
}
.input-group input{
   height: 20;
   width: 50%;
   margin:0 auto;
   padding: 5px 10px;
   font-size: 15px;
   border-radius: 5px;
   border: 1px solid gray;
    
}
.input-group label
{
    height: 30px;
    width: 35%;
    padding: 5px 10px;
    font-size:18px;
    border-radius: 5px;
    border: 1px solid #cccc;
}
.btn
{
    padding: 10px;
    font-size: 15px;
    color: red;
    background: #ccc;
    width: 100px;
    border: none;
    border-radius: 5px;
}
.form_div{
    margin: 0 auto;
}


/* change password  */

.pass_main{
    width:900px;
    margin:0 auto;
    padding:30px;
    color: #133;
    background-color:whitesmoke;
}

#display_text
    {
    font-family: initial;
    font-size: 30px;
    text-align: center;
    color: seagreen;
}
.c_form{
    height: 200px;
    width: 500px;
    padding: 15px;
    margin: 0 auto;

    border: 5px solid #ccc;
    border-top-style: double;
}
.c_form input{
   height: 20px;
   width: 50%;
   margin:0 auto;
   color: #133;
        margin-left: 10px;
   padding: 5px 10px;
   font-size: 15px;
   border-radius: 5px;
   border: 1px solid gray;
    
}
.c_form label
{
    height: 30px;
    width: 35%;

    padding: 5px 10px;
    color:crimson;
    font-size:18px;
    border-radius: 5px;
    border: 1px solid #cccc;
}
.c_form button
{
    padding: 10px;
    margin-left: 60px;
    font-size: 15px;
    color: red;
    background: #ccc;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.c_form_down{
    height: 500px;
    margin-top: 100px;
    margin-left: 70px;
    padding: 15px;
    border: 5px solid brown ;
    border-top-style: groove;
}
.c_form_down input{
   height: 20px;
   width: 25%;
   margin:0 auto;
   color: #133;
        margin-left: 10px;
   padding: 5px 10px;
   font-size: 15px;
   border-radius: 5px;
   border: 1px solid gray;
    
}
.c_form_down label
{
    height: 30px;
    width: 35%;

    padding: 5px 10px;
    color:crimson;
    font-size:18px;
    border-radius: 5px;
    border: 1px solid #cccc;
}
.c_form_down button
{
    padding: 10px;
    margin-left: 25px;
    font-size: 15px;
    color: red;
    background: #ccc;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}
.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 5px 10px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}



/* for forum */
.forum{
    width:700px;
    overflow-x: auto;
    height: 1000px;
    background-color: peru;
    padding: 20px;
    margin: 0 auto;
    
}
.userinfo{
     width:60px;
     padding:20px;
     margin-left: 55px;
     text-align: center;
     text-wrap: avoid;
     font-size: 24px;
     margin-top: 20px;
     border-radius: 50px;
     background-color: #ffff;
    height:60px;
  
}
.message{
    width:400px;
    height: 10px;
    float:right;
    border-radius: 10px;
    margin-right: 70px;
    border-bottom-left-radius: 25px;
    margin-top: -100px;
    overflow-style: scrollbar;
   overflow-y: auto;
    height: 150px;
    padding:5px;
    background-color: #cccc;
}
.forum_form{
    width:700px;
    background-color: burlywood;
    height:60px;
    padding: 20px;
    margin: 0 auto;
    
}
#txtarea{
    width:700px;
    
    height:30px;
    margin: 0 auto;
}

.cancle{
    height: 42px; width: 160px;padding-left: 10px;
   
}
#left_float{
    float: left;
}
tr:nth-child(even){
    background-color: ivory;
}
tr:nth-child(odd){
    background-color: #ccc;
}
th{
    background-color: #ff9;
}

footer{
   // background-image: url(images/cars/car_one.jpg);
}

.nav-register label{
    color: tomato;
    font-family: Rockwell Extra Bold;
    
}
.nav-register h2{
    font-size: 30px;
    font-family:cursive;
    background-color: buttonface;
    text-align: center;
}

#userdata{
    font-size: 26px;
    font-family:cursive;
    color:chartreuse;
   
}


.visits{
    text-align:center;
    background-color: #46a049;
    width:100px;
height:100px;
margin-left:-300px;
margin-top:450px;
float:left;
 
border-radius: 10px;
font-family:Algerian;

//background-image: url(images/display/design.jpg);
padding:5px;
}
#visit
{
	width:100%;
	height:50px;
	background-color:white;
	color:black;
	font-size:30px;
	text-align:center;
}

#age{
    margin-left: 300px;
    font-size: 25px;
    color:tomato;
    font-family: sans-serif;
}
#img{ width:500px;
    height: 300px;}
#star{
    width: 20px;height: 20px;
}
.image_1{
    width:960px; height: 550px;
}